<%include  header.ejs %>
<div class="col-6">
    <form action="/products/edit" method="post" class="form-control">  
        <input type="hidden" class="form-control"name="_id" value="<%= obj._id %>"><br>      
        Product:<input type="text" class="form-control"name="name" value="<%= obj.name %>"><br>   
        Price:EGP<input type="text" class="form-control"name="price" value="<%= obj.price %>"><br>    
        Category:<select  class="form-control" name="category" id="">
            <% categories.forEach(function(category){ %>
                <%
                 if(category._id.toString()==obj.category.toString()){%>
                 <option value="<%= category._id %>" selected><%= category.name %></option>
                <%}else{%>
                    <option value="<%= category._id %>"><%= category.name %></option>
                    <%}%>
                <% }) %>
        </select>                 
        <input type="submit"class="btn btn-info" value="Edit">
    </form>
    </div>
<%include  footer.ejs %>
