<%include   ../layout/header.ejs %>
<h1 id="orderList">Orders List</h1>
<% if(!msg){ %>
    <h3 class="alert alert-success"><%= msg %></h3>
    <% }%>


<% data.forEach(function(order){ %>
<table class="table table-bordered">
    <tr>    
        <th>
            User
        </th>
            
        <th>
            Price
        </th>
        <%if(order.notes){%>
        <th>
            Notes
        </th>
        <%}%>

        <th>
            Products
        </th>
        <th>
            Date
        </th>
        <th>Status</th>
        <%if(order.status=="Waiting"){%>
            <th>Action</th> 
        <%}%>      

      
    </tr>
</tr>
   
<tr>
    <td>
        <%if(order.user){%>
            <%= order.user.name %>
            <%}%>
    </td>
    <td>
        <%= order.price %>

    </td>
    <%if(order.notes){%>

    <td>
        <%= order.notes %>

    </td>
    <%}%>

    <td>
        <% (order.products).forEach(function(product){ %>
            <%= product.name %>,
        <%})%>
    </td>
    <td>
        <%= order.date %>
    </td>
    <td>
        <%= order.status %>
    </td>
    <td>
        <%if(order.status=="Waiting"){%>
            <a class="btn btn-primary" href="/orders/deliver/<%= order._id %>">Deliver</a></td> 
        <%}%>           
    </td>
</table>
<% }) %>
<script src="/js/socket.io.js"></script> 
<script>
        var socket = io('http://localhost:9090');
        $(function(){
            socket.emit('user_data',{username:$('#userName').text(),admin:"admin"})
        });
        socket.on("client_order",(data)=>{
            document.title += "(1)";
            alert("New Order From :"+data['username']);
            location.reload();
        });
;
    </script>
<%include   ../layout/footer.ejs %>