<%include   ../layout/header.ejs %>
<h1>Orders List</h1>
<% if(!msg){ %>
    <h3 class="alert alert-success"><%= msg %></h3>
    <% }%>


<% data.forEach(function(order){ %>
<table class="table table-bordered">
    <tr>    
        <th>
            User
        </th>
            
        <th>
            Price
        </th>
      
    </tr>
</tr>
   
<tr>
    <td>
        <%if(order.user){%>
            <%= order.user.name %>
            <%}%>
    </td>
    <td>
        <%= order.price %>

    </td>
   

       
</table>
<% }) %>
<% data.forEach(function(order){ %>
<table class="table table-bordered">
    <tr>    
        <th>
            order date
        </th>
            
        <th>
            Price
        </th>
      
    </tr>
        <tr>
            <td>
                <%= order.date %>
            </td>
            <td>
                <%= order.price %>

            </td>
</table>
<% }) %>
<%include   ../layout/footer.ejs %>